@import url('https://fonts.googleapis.com/css?family=Fresca&display=swap');
/* top div is the global parent */

body {
    background-color: beige;
    font-family: 'Fresca', sans-serif;
    font-size: 1.4em;
}

#top-div {
    display: flex;
    flex-direction: row;
}

#top-people {
    display: flex;
    flex-direction: column;
}

#top-person {
    display: flex;
    flex-direction: row;
}


/* eli's section */
#eli {
    display: flex;
    align-items: center;
}

#eli img {
    height: 150px;
    width: 100px;
}

/* erin's section */

#erin {
    display: flex;
    align-items: center;
    }
    
#erin img {
    height: 150px;
    width: 100px;
}

/* dirt's section */

#dirt {
    display: flex;
    align-items: center;
    }
    
#dirt img {
    height: 150px;
    width: 100px;
}

/* claire's section */

#claire {
    display: flex;
    align-items: center;
}

#claire img {
    height: 150px;
    width: 100px;
}

/* noah's section */

#noah {
    display: flex;
    align-items: center;
    }
    
#noah img {
    height: 150px;
    width: 100px;
}