#recipe-list {
    padding: 0;
}

li {
    list-style: none;
    border: 2px solid rgb(29, 2, 2);
    margin: 3px;
    border-radius: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgb(29, 2, 2);
    /* margin: 30px; */
}

#list-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-gap: 7px;
    gap: 7px;
    padding: 0;
    flex-wrap: wrap;
    margin: 80px;
}

h3 {
    color: rgb(29, 2, 2);
}
