#recipe-list {
    /* border: 2px solid rgb(29, 2, 2); */
}

li {
    list-style: none;
    border: 2px solid rgb(29, 2, 2);
    margin: 3px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgb(29, 2, 2);
    /* margin: 30px; */
}

#list-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 7px;
    gap: 7px;
    padding: 0;
    /* justify-content: space-between;
    align-items: center; */
    flex-wrap: wrap;
}

h3 {
    color: rgb(29, 2, 2);
}
