
select {
    text-align: center;
    height: 30px;
}

form {
    text-align: center;
}

input {
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

button {
    border: 1px solid black;
    border-radius: 40px;
    height: 25px;
}
<<<<<<< HEAD

=======
>>>>>>> 2879a55aa0490cae088f723b82e823a4c7cec112
