.profile {
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.336);
    display: flex;
    justify-content: center;
    margin-left: 5%;
    color: rgb(0, 0, 0);
    font-size: 1em;
    height: 150px;
}

.profile img {
    display: flex;
    border-radius: 100%;
    margin-left: 35%;
    border: 3px solid rgba(0, 0, 0, 0.336);
}

.profile button {
    background:url('/assets/out-sign.png') no-repeat center;
    background-color: rgba(255, 255, 255, 0.603);
    border: none;
    width: 45px;
    height: 25px;
    border-radius: 10px;
    padding: 18px; 
    margin-left: 35%;
}

.profile button:hover {
    transform: scale(1.2);
}

.profile span {
    display: flex;
    margin-left: 20%;
}