@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
/* TODO: FIX LATER */


body {
    font-family: 'Bad Script', cursive;
    font-size: 2em;
    background-color: #EEECCB;
    color: #353A45;
    font-weight: bold;
}